:root {
    --first-font:
        "Roboto", sans-serif;
    --second-font:
        "Raleway", sans-serif;
    --first-color: #FFFFFF;
    --second-color: #2F303A;
    --third-color: #F5F4FA;
    --fourth-color: #212121;
    --fifth-color: #2196F3;
    --sixth-color: #000000;
    --seventh-color: #757575;
    --eighth-color: rgba(255, 255, 255, 0.6);
    --nineth-color: #188CE8;
    --tenth-color: #EEEEEE;
    --grad-color: rgba(47, 48, 58, 0.4);
    --client-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1)
}